html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
 background-color:rgb(56,56,56);
}
.bkg{
	width:100%;
	height:100%;
	padding: 0;
	margin:0;
	position:relative;
}


.myimg{
	margin-left:45pt;
margin-right:70pt;

 border:6px solid #22a7f0;
 border-radius: 250pt 250pt 250pt 250pt; 
  margin-top:20pt;
  cursor: pointer;
}


.h3{
cursor: default;
font-family: sans-serif;
font-style:italic;
font-size: 25px;
 color:#c8c8c8;
 padding-right:25px;
 text-decoration: underline ;
}
.nav{
	position:absolute;
	left:0;
	text-align:center;
	padding:0;
	margin:0;
	height:100%;
	background-color: rgb(16,16,16);
	
}
 
 ul{
	margin-top:40px;
    list-style-type: none;
	height: 100%;
}


a{
	font-size:35px;
	display:block;
	text-decoration:none;
	color:#c8c8c8;
	font-family:'FontAwesome';
	letter-spacing: 1px;
	padding-right:75px;
	height:45pt;
	padding-top:10pt;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
}

a:hover{
color:white;
background-color: #22a7f0;
right:15px;
trasition: all .3s;
}


.active{
   background-color:#22a7f0;
   color:white;
}


